<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <script src="/index.js" defer type="module"></script>
    <title>Parcours O'Clock</title>
</head>

<body>
    <header>
        <a href="/">HOME</a>
        
        <%- include('./nav.ejs')  %> 

        <a href="/contact">Contact</a>
    </header>